.bot {
	width: 160px;
	border-radius: 50px;
	float: left;
	margin-right: 40px;
	box-shadow: 0 0 10px white;
}

ul {
	width: 50%;
	margin: 0 auto;
}

.invite {
	width: 200px;
}

.example {
	width: 500px;
	height: 700px;
}